
<div id="container">
  <div id="shape">
    <div class="one"><img src="../../assets/images/printcomp.gif" alt="one"></div>
    <div class="two"><img src="../../assets/images/printcomp.gif" alt="two"></div>
    <div class="three"><img src="../../assets/images/printcomp.gif" alt="three"></div>
    <div class="four"><img src="../../assets/images/printcomp.gif"  alt="four"></div>
    <div class="five"><img src="../../assets/images/printcomp.gif" alt="five"></div>
    <div class="six"><img src="../../assets/images/printcomp.gif"  alt="six"></div>
  </div>
</div>
<!-- <div class="test">
</div> -->

